body {
    margin: 15px 20px 20px 20px;
}
.navbar {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    display: inline;
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
}
a {
    text-decoration: none;
}
.courses {
    background-color: #E70045;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.courses-dropdown {
    background-color: #E70045;
    border: none;
    color: white;
}
.more-dropdown {
    border: none;
    color: black;
}
.signup {
    background-color: #E70045;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    position: relative;
    right: 190px;
}
.grid-container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 8px;
}
   
.counselling {
    background-color: white;
    color: gray;
    border-radius: 15px;
    padding: 10px;
    border-color: gray;
    margin-top: 40px;  
}
h1 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 24px;
}
.degree-counselling-container p {
    color: gray;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
.top-rated-container p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: gray;
}
.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.assets {
    width: 115px;
    height: 52px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 3px 3px 3px 3px #d3d3d3;
}
.assets h3 {
    font-size: 1rem;
}
.footer-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 3px 3px 3px 3px #d3d3d3;
    border-radius: 5px;
}
.footer {
    width: 158px;
    height: 125px;
    margin-right: 80px;
}
.footer h4 {
color: #E70045;
font-family: 'Poppins', sans-serif;
font-size: 1.6rem;
}
.footer-container p {
    font-family: 'Poppins', sans-serif;
}
h4, p{
    margin: 0px;
}
.hamburger-button{
    display: none;
}
@media only screen and (max-width:768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

}
@media only screen and (max-width:550px) {
    .grid-container {
    grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:768px) {
    .footer-container {
        flex-wrap: wrap;
    }

}
@media only screen and (max-width:550px) {
    .footer-container {
        flex-wrap: wrap;
    }

}
@media only screen and (max-width:768px) {
    .navbar .menu {
        display: none;
    }
    .navbar .signup {
        display: none;
    }
    .hamburger-button {
        height: 50px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

 




 
    
    


